html {
    scroll-behavior: smooth;
}

body {
    background: #17153b;
    background: linear-gradient(45deg, #2e236c 30%, #17153b 70%);
    font-family: Arial, sans-serif;
    color: #f8f8f8; 
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    background-color: #130150;
    opacity: 90%;
    border: 1px solid #2e236c;
    border-radius: 20px;
    padding: 10px 30px;
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: sticky;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    z-index: 1000;
}

.navbar a {
    color: #5e5b80;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    padding: 5px 10px;
    transition: 0.2s;
}

.navbar a :hover,
.navbar a.active {
    color: #f8f8f8;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #17153b 70%, #130150);
}

::-webkit-scrollbar-thumb {
    background: #f8f8f8;
    border-radius: 10px;
    border: 2px solid #2b2b2b;
}

::-webkit-scrollbar-thumb:hover {
    background: #5e5b80;
}

::-webkit-scrollbar-corner {
    background: #17153b;
}

/* Main */
main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%; 
}

/* Homepage */
.introduction-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    max-width: 900px;
    width: 100%;
    height: auto;
    padding: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 20px; 
}

.introduction-container img {
    width: 30%;
    height: auto;
    max-width: 301px;
    border-radius: 10px;
}

.description {
    flex: 1;
    text-align: justify;
    color: #f8f8f8;
    background-color: #130150;
    padding: 15px;
    border-radius: 10px;
}

.description h1 {
    font-size: 30px;
}

.justify {
    max-width: 50ch;
    margin: 0;
    text-align: justify;
    line-height: 1.8;
    font-size: 15px;
}


.justify strong {
    font-size: 1.2em;
}

.text-icons {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 15px;
}

.logo img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 2px 4px #17153b;
}

.logo img:hover {
    transform: translateY(-6px);
    box-shadow: 0 2px 4px #17153b;
}